nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 95%;
    margin-top: 30px;
    padding: 10px 20px;
}
.hamburger-menu{
    display: flex;
    
}
.hamburger-menu #nav-list{
    padding-top: 20px;
    display: none;
    flex-direction: column;
    height: 220px;
    position: absolute;
    width:75%;
    left: 45%;
    top: 30%;
    transform: translate(-50%, -50%);
    align-items: center;
    backdrop-filter: blur(5px);
    z-index: 1;
}

a{
    color: white;
    text-decoration: none;
    text-align: left;
    font-size: 18px;
}
a:hover{
    border-bottom: 2px solid white;
}
li{
    list-style: none;
    text-align: left;
    padding: 10px;
    margin: 10px;
}
.hamburger-menu button{
    background-color: transparent;
    border: none;
    margin-right: 40px;
}



@media (min-width:900px) {
    nav{
        backdrop-filter: blur(30px);
        display: flex;
        flex-direction: row;
    }
    .logo{
        margin-left: 2%;
    }
     #menu-btn{
        display: none;
    }
    nav .hamburger-menu{
        display: flex;
        height: 50px;
    }
    #nav-list{
        display: flex;
        position: relative;
        display: flex;
        flex-direction: row;
        height: 20px;
    }

    .hamburger-menu{
        width: 300px;
        margin-right: 50px;
        
    }
    .hamburger-menu #nav-list{
        position: static;
        display: flex;
        flex-direction: row;
        height: 50px;
        width: 300px;
    }
}