
html{
    font-size: 14px;
}

body{
    margin: 0;
    padding: 0;
    background-color: hsl(30, 38%, 92%);
}

.main-container{
    margin-top: 50px;
    margin-left: 10px;
    margin-right: 10px;
    height: 600px;
    border-radius: 5px;    
    box-shadow: 5px 5px 8px #888888;
}

.img-container{
    height: 45%;
}
.img-container img{
    width: 100%;
    height: 100%;
}
.text-section{
    background-color: white;
    height: 285px;
    padding: 20px;
    overflow: unset;
}

.text-section p{
    opacity: 0.7;
}
.price-tag{
    display: flex;
    align-items: center;
}
.price-tag del{
    padding-left: 20px;
    font-size: 10px;
}

.price-tag h2{
    color: green;
}
button{
    background-color: green;
    width: 100%;
    height: 40px;
    border-radius: 5px;
    color: white;
}


@media (min-width: 565px) {
    .main-container{
        display: flex;
        width: 650px;
        height: 450px;
    }

    .img-container{
        width: 50%;
        height: 100%;
    }
    .text-section{
        width: 50%;
        height: 93%;
    }
    .text-section h2{
        font-size: 35px;
    }
    .text-section del{
        opacity: 0.8;
        font-size: 14px;
    }
    button{
        border:none;
    }
   




  }